<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.orch-canon-mirror</string>

    <key>ProgramArguments</key>
    <array>
        <string>__INSTALL_ROOT__/ops/bin/orch-canon-mirror.sh</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key><integer>8</integer>
        <key>Minute</key><integer>30</integer>
    </dict>

    <key>WorkingDirectory</key>
    <string>__INSTALL_ROOT__</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:__HOME__/.local/bin</string>
        <key>HOME</key>
        <string>__HOME__</string>
        <key>__STATE_HOME_ENV__</key>
        <string>__STATE_HOME__</string>
    </dict>
    <key>StandardOutPath</key>
    <string>__HOME__/Library/Logs/orch-canon-mirror/launchd.log</string>
    <key>StandardErrorPath</key>
    <string>__HOME__/Library/Logs/orch-canon-mirror/launchd.log</string>
</dict>
</plist>
